*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
width: 50%;
height: 10%;
margin: 50px auto;
position: relative;
}

.upper-container1{
width: 35%;
height: 100%;
padding-top:20px ;
}

#tasks{
font-weight: bold;
font-size: 2.5rem;
}

#lists{
    font-size: 2.5rem;
    margin-left: 10px;
    opacity: 0.5;
}

.upper-container2{
width:35% ;
height: 100%;
padding-top: 20px;
position: absolute;
top: 0px;
right: 0px;
}

#addlist{
width:80% ;
height:100% ;
padding-top:25px ;
position: absolute;
top: 0px;
right: 0px;
font-size: 30px;
opacity: 0.5;
}

.card1{
    width: 15%;
    height: 45vh;
    position: relative;
    margin: auto;
    margin-top: 10px;
    border: 1.5px solid red;
    border-radius:8px;
    box-shadow: 5px 5px 10px grey; 
}

.div1{
    width:85% ;
    height: 15%;
    position: absolute;
    top: 15px;
    right: 0px;
    text align:left;
    font-size:25px;
    col0r: red;
    border-bottom:1px solid black;
}

.div2{
    width:90% ;
    height:10% ;
    position: absolute;
    top: 35%;
    font-size: 22px;
    color: red;
    text-align: right;
    font-weight: bold;
    text-decoration: line-through;
}

.div3{
    width:90%;
    height: 10%;
    position: absolute;
    top: 50%;
    text-align:left;
    font-size: 25px;
}

#check{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.notshow{
filter:blur(6px);
-webkit-filter:blur(6px) ;
}

